<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Waste-Management/Static/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1 class="dash">Dashboard</h1>
    <div class="container-1">
        <div class="dashboard">
            <pre>Name                   Role           Weight of Garbage     Nature of Garbage      Type of Waste     Location                    Email-Id                           </pre>
            <div class="context">

            </div>
        </div>
    </div>
</body>
</html>