<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Waste-Management/Static/css/style.css">
    <title>User Login</title>
</head>

<body>
    <div class="bg-img">
        <div class="login">
            <form action="/Waste-Management/templates/input.html">
                <h1 class="form-head">User Login</h1>
                <input required class="fields" type="text" placeholder="Enter Your Name..."><br>
                <input required class="fields" type="text" placeholder="Enter Password...">
                <button class="btn">submit</button>
                <div class="not-an">
                    <p>Not have an account? <a href="/Waste-Management/templates/user.html">Signup Now!</a></p>
                </div>
            </form>
        </div>
    </div>

</body>

</html>