<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Waste-Management/Static/css/style.css">
    <title>User Signup</title>
</head>

<body>
    <div class="bg-img">
        <div class="signup">
            <form action="/Waste-Management/templates/input.html">
                <h1 class="form-head">User Signup</h1>
                <input required class="fields" type="text" placeholder="Enter Your Name..."><br>
                <input required class="fields" type="email" placeholder="Enter Your Email..."><br>
                <input required class="fields" type="text" placeholder="Enter Your Number..."><br>
                <input required class="fields" type="text" placeholder="Enter Password...">
                <button class="btn">submit</button>
                <div class="not-an">
                    <p>Alredy have an account?<a href="/Waste-Management/templates/user-login.html">Login Here</a></p>
                </div>
            </form>
        </div>
    </div>

</body>

</html>