<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Waste-Management/Static/css/style.css">
    <title>Document</title>
</head>

<body>
    <div class="content">
        <div class="cards">
        <div class="card-img">
            <img src="/Waste-Management/img/Dustbin_Royalty_Free_Vector_Image_-_VectorStock-removebg-preview.png" alt="reward-img" width="250px">
            <p>Woohoo you got points!!</p>
        </div>
        <div class="card-content">
            <p>10</p>
        </div>
    </div>
    </div>
    
</body>

</html>